# Project 1 - IBM Data Science( Creating a Jupyter Notebook)
#### This project elaborates on how to create a Jupyter Notebook, insert code and markdown cells, and share the notebook through a GitHub.

In [27]:
# Importing Pandas
import pandas as pd

### Exercise 1 - Giving a Jupyter Notebook a file name 
The newly created Jupyter Notebook is called 'DataScienceEcosystem.ipynb'

### Exercise 2 - The Title of the Notebook
# Data Science Tools and Ecosystem

### Exercise 3 - An Introduction
In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives
- To list popular Data Science languages
- To list some Data Science libraries
- To create a table of Data Science tools
- To write a code to multiply and add integers
- To write a code to convert minutes into hours
- To indicate the Author's name
- To share through GitHub

### Exercise 4 - Some List of Data Science Languages
1. Python
2. R
3. SQL
4. Scala
5. Julia
6. C++
7. JS

### Exercise 5 - Some List of Data Science Libraries
1. Matplotlib
2. Numpy
3. Pandas
4. Scikit-learn
5. PyTorch
6. TensorFlow
7. Keras

### Exercise 6 - Creating a Table of Data Science Tools

In [28]:
# Creating a Pandas series
tools = ["Jupyter Notebook", "RStudio", "Apache Zeppelin"]
data_science_tools = pd.Series(tools)

In [44]:
data_science_tools

0    Jupyter Notebook
1             RStudio
2     Apache Zeppelin
dtype: object

### Exercise 7 - Below are a few examples of evaluating arithmetic expressions in Python

### Exercise 8 - Creating a code to multiply and add integers

In [30]:
# This a simple arithmetic expression to multiply then add integers  
(3*4) + 5

17

### Exercise 9 - Creating a code to convert minutes to hours

In [45]:
# Converting 200 minutes into hours by dividing by 60
(200/60)

3.3333333333333335

### Exercise 11 - Indicate the Author's name
## Author:
Reuben Junior Asare